---
interface Props {
	title: string;
	description?: string;
    color?: string;
	image?: string;
}

const {
    title,
    description,
    color,
    image = "/favicon.jpeg"
} = Astro.props;
---

<!-- Metadata -->
<meta charset="utf-8" />
<meta name="locale" content="de_DE" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/jpeg" href={image} />
<meta name="generator" content={Astro.generator} />
<link rel="manifest" href="/manifest.json" />

<!-- Main Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="twitter:card" content="summary" />
<meta name="og:image" content={new URL(image, Astro.site)} />
<meta property="og:site_name" content={title} />
<meta property="og:url" content={Astro.site} />
<meta name="theme-color" content={color} />